<style type="text/css">
    .paginator,
    .paginator-next,
    .paginator-prev {
        color:white;
        background:black;
        font-size:12px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }
    .paginator-next {
        border-radius: 0 10px 10px 0;
        background:gray;
    }
    .paginator-prev {
        border-radius: 10px 0 0 10px;
        background:gray;
    }
</style>

<nav aria-label="page navigation example">
    <ul class="pagination" style="margin-top: 30px;">
        <li class="page-item">
            {% if page.has_previous %}
            <a class="paginator-prev" href="?page={{page.previous_page_number}}">Previous</a>
            {% comment %} class="page-link" {% endcomment %}
            {% endif %}
        </li>

        <li class="page-item">
            <a class="paginator">Page {{page.number}} of {{page.paginator.num_pages}}</a>
        </li>

        <li class="page-item" >
            {% if page.has_next %}
            <a class="paginator-next" href="?page={{page.next_page_number}}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>