{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Registration{% endblock title %}

{% block style %}{% endblock style %}

{% block body %}
<div class="container my-4 register_style">
    <h3>Register an account </h3>
    <p>Use the following form for Registration.</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{user_form | crispy}}
        <input type="submit" value="Create Account" class="btn btn-success">
    </form>
</div>
{% endblock body %}
