{% extends 'base.html' %}

{% block title %} Article List {% endblock title%}

{% block style %}{% endblock style %}

{%block body %}
<section class="container">
    <h1 class="h1-style">Articles</h1>
    {% for article in articles %}
        <span class="badge rounded-pill text-bg-success">Author: {{article.author}}</span>
        <h1><a class="link-style" href="{% url 'article_details' article.slug %}">{{article.title}}</a></h1>
    {% endfor %}

    {% include 'account/pagination.html' with page=articles %}

</section>

{% endblock body %}
